body {
  margin: 0;
  padding: 0;
  background-color: #cecccc00;
  font-family: "Ariel", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.content {
  margin-left: 200px;
  padding: 8px 16px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-width: 0 2px 0 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
}

.sidebar .link-item {
  color: black;
  display: flex;
  align-items: center;
  padding: 8px 4px;
  gap: 8px;
  text-decoration: none;
}

.sidebar .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: cadetblue;
  height: 60px;
  text-decoration: none;
  padding: 0;
}

.sidebar .active {
  background-color: darkgrey;
  color: white;
}

.sidebar .link-item:hover:not(.active) {
  background-color: #ccc;
}

.cards-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  background-color: beige;
  overflow: hidden;
  padding: 16px;
}

.profile-pic {
  border: 2px solid black;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.user-information-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 16px;

  .nickname {
    font-size: large;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
  }

  .name,
  .phone,
  .website {
    font-size: medium;
    font-weight: bold;
  }
}
