body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-width: 0 2px 0 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
}

.sidebar .link-item {
  color: black;
  display: flex;
  align-items: center;
  padding: 8px 4px;
  gap: 8px;
  text-decoration: none;
}

.sidebar .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: cadetblue;
  height: 60px;
  text-decoration: none;
  padding: 0;
}

.sidebar .active {
  background-color: #ccc;
  color: white;
}

.sidebar .link-item:hover:not(.active) {
  background-color: #ccc;
}

.content {
  margin-left: 200px;
  height: 100%;
  padding: 2px 16px;
}
